<h1><%= post.title %></h1>
<div>
    <p>Price: <%= post.price %></p>
</div>
<div>
    <p>Description: <%= post.description %></p>
</div>
<div>
    <p>Location: <%= post.location %></p>
</div>
<div>
    <% post.images.forEach(function(image){ %>
    <img src="<%= image.url %>" alt="Auto Finder Pic" width="200px">
    <% });%>

</div>
<div>
    <a href="/posts/<%= post.id %>/edit">
        <button>Edit</button>
    </a>
</div>
<div>
    <form action="/posts/<%= post.id %>?_method=DELETE" method="POST">
        <input type="submit" value="Delete">
    </form>
</div>



<!--
     Post
- Title - string
- Price - string
- Description -string
- Specs (HP, TQ, AWD?, Sedan/Coupe/Truck/SUV)
- Images - array of strings
- Location (Lat- String, Long-String) - numbers
- Author - object id(ref User)
- Reviews - array of objects
*/
-->